kbd
  font-size 0.9rem
  color #1a1a1a

  .yuu-theme-dark &
    background-color #2f2f2f
    border-color #2a2a2a
    color #f3f3f3

.icon.outbound
  top -2px
  left 1px

.yuu-theme-dark tr:nth-child(2n)
  background-color #222 !important

mark
  $alphaFactor = 0.65

  color darken($textColor, 20)
  background-color alpha($accentColor, $alphaFactor)

  .yuu-theme-dark &
    color $darkTextColor

  .yuu-theme-blue &
    background-color alpha($blueAccentColor, $alphaFactor)

  .yuu-theme-red &
    background-color alpha($redAccentColor, $alphaFactor)

  .yuu-theme-purple &
    background-color alpha($purpleAccentColor, $alphaFactor)
