div.beatmap-detail {
  $radius: 8px;
  margin-bottom: 14px;
  border-radius: $radius;

  display: flex;

  $image-size: 172px;
  $content-padding: 8px;
  $stat-padding: 20px;

  & div.cover {
    border-radius: $radius;
    width: $image-size;
    height: $image-size;
    overflow: hidden;

    & img {
      width: $image-size;
      height: $image-size;

      border-radius: $radius 0 0 $radius;
    }
  }

  & div.beatmap-content-container {
    flex: 1;
    margin: 0 $radius 0 $radius;
  }

  & div.beatmap-content {
    flex: 1;
    border-radius: $radius;
    margin: 0 0 $radius 0;
    background-color: rgba(255, 255, 255, 0.92);
    color: rgb(23, 23, 24);
    padding: $content-padding;

    display: flex;
    flex-direction: column;

    & div.details {
      flex-grow: 1;
      margin-bottom: $content-padding;

      & h1,
      h2 {
        line-height: 1em;
      }

      & h2 {
        margin-top: 6px;

        & > span.uploaded {
          color: rgba(0, 0, 0, 0.5);
          font-size: 0.7em;
        }
      }
    }

    & div.map-info {
      margin: 0 $content-padding 1em $content-padding;
      td {
        word-wrap: break-word;
        vertical-align: middle;
        &:nth-child(odd) {
          color: rgba(0, 0, 0, 0.5);
          font-size: 0.7em;
          text-align: right;
          padding-right: 0.7em;
        }

        &:nth-child(3) {
          padding-left: 4em;
        }
      }
    }

    & div.stats {
      margin-bottom: $content-padding;

      & span.stat {
        margin-right: $stat-padding;

        & i {
          margin-left: 4px;
        }
      }
    }

    & div.description {
      margin-bottom: $content-padding;
    }
  }

  & div.links {
    border-radius: $radius;
    width: $image-size;

    & a.button {
      font-size: 1.2em;
      height: 50px;
    }
  }
}
