div.field label.label {
  $transition: 100ms;

  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  transition: color $transition ease;

  &::after {
    display: inline-block;
    content: attr(data-error);
    text-transform: initial;
    font-style: italic;
    font-weight: 400;

    transition: opacity $transition ease, transform $transition ease;
    opacity: 0;
    transform: translateX(-2px);
  }

  &.has-text-danger::after {
    opacity: 1;
    transform: translateX(4px);
  }
}

.is-checkradio[type=radio] + label:first-of-type,
.is-checkradio[type=checkbox] + label:first-of-type {
  user-select: none;

  &::before {
    outline: none;
    transform: translate(0, 3px);
  }

  &::after {
    transform: translate(0, 2.5px) rotate(45deg);
  }
}
