html, body, div#root {
  height: 100%;
  overflow: overlay;
}

@media screen and (max-width: 1023px) {
  div.container.side-pad {
    width: 100%;
    padding: 0 20px;
  }
}

div.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.container.has-footer {
  margin-top: 24px;
  flex-grow: 1;
}

footer.sticky-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
  font-weight: bold;
}

div.container.pad {
  margin-top: 24px;
  margin-bottom: 36px;
}

div.thin {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

div.mb {
  margin-bottom: 24px;
}

.is-fullwidth {
  width: 100%;
}
