@charset "utf-8";
@import "_scrollbar";
@import "_util";
@import "_bulma";
@import "_navbar";
@import "_layout";
@import "_loader";
@import "_input";
@import "_beatmap-result";
@import "_beatmap-detail";
@import "_tags";
@import "_details";
